@model IEnumerable<ConsommiTounsi.Domaine.Entities.Product.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BackOffice.cshtml";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<!-- doughnut chart row starts -->
<div class="row">
    <div class="col-sm-12 stretch-card grid-margin">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="card-title">Channel Sessions</div>
                            <div class="d-flex flex-wrap">
                                <div class="doughnut-wrapper w-50">
                                    <canvas id="doughnutChart1" width="100" height="100"></canvas>
                                </div>
                                <div id="doughnut-chart-legend" class="pl-lg-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="card-title">News Sessions</div>
                            <div class="d-flex flex-wrap">
                                <div class="doughnut-wrapper w-50">
                                    <canvas id="doughnutChart2" width="100" height="100"></canvas>
                                </div>
                                <div id="doughnut-chart-legend2" class="pl-lg-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="card-title">Device Sessions</div>
                            <div class="d-flex flex-wrap">
                                <div class="doughnut-wrapper w-50">
                                    <canvas id="doughnutChart3" width="100" height="100"></canvas>
                                </div>
                                <div id="doughnut-chart-legend3" class="pl-lg-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<figure class="highcharts-figure">
    <div id="container"></div>
    
</figure>


<script>

    var man = @Html.Raw(Json.Encode(ViewBag.statM));
    var woman = @Html.Raw(Json.Encode(ViewBag.statW));

    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Gender recommandation'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Percentage',
            colorByPoint: true,
            data: [{
                name: 'Man',
                y: man,
            }, {
                name: 'Woman',
                y: woman
            }]
        }]
    });

</script>