
@{
    ViewBag.Title = "ClientTemplate";
}
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <nav class="navbar bg-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i>Best Selling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-plus-square"></i>New Arrivals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-female"></i>Fashion &amp; Beauty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-child"></i>Kids &amp; Babies Clothes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Men &amp; Women Clothes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Gadgets &amp; Accessories</a>
                        </li>

                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <div class="header-slider normal-slider slick-initialized slick-slider slick-dotted">
                    <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
                    <div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 3003px; transform: translate3d(-858px, 0px, 0px); transition: transform 500ms ease 0s;">
                            <div class="header-slider-item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 429px;">
                                <img src="~/Content/img/slider-1.jpg" alt="Slider Image">
                                <div class="header-slider-caption">
                                    <p>Some text goes here that describes the image</p>
                                    <a class="btn" href="" tabindex="-1"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div><div class="header-slider-item slick-slide" data-slick-index="0" aria-hidden="true" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 429px;">
                                <img src="~/Content/img/slider-1.jpg" alt="Slider Image">
                                <div class="header-slider-caption">
                                    <p>Some text goes here that describes the image</p>
                                    <a class="btn" href="" tabindex="-1"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div><div class="header-slider-item slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 429px;">
                                <img src="~/Content/img/slider-2.jpg" alt="Slider Image">
                                <div class="header-slider-caption">
                                    <p>Some text goes here that describes the image</p>
                                    <a class="btn" href="" tabindex="-1"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div><div class="header-slider-item slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" style="width: 429px;">
                                <img src="~/Content/img/slider-3.jpg" alt="Slider Image">

                            </div><div class="header-slider-item slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 429px;">
                                <img src="~/Content/img/slider-1.jpg" alt="Slider Image">

                            </div><div class="header-slider-item slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 429px;">
                                <img src="~/Content/img/slider-2.jpg" alt="Slider Image">

                            </div>
                        </div>
                    </div>


                    <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button><ul class="slick-dots" style="" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 3" tabindex="0" aria-selected="true">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 3" tabindex="-1">2</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 3" tabindex="-1">3</button></li></ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="header-img">
                    <div class="img-item">
                        <img src="~/Content/img/tun.png">
                        <a class="img-text" href="">
                            <p>Some text goes here that describes the image</p>
                        </a>
                    </div>
                    <div class="img-item">
                        <img src="~/Content/img/tounsi.png">
                        <a class="img-text" href="">
                            <p>Some text goes here that describes the image</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider slick-initialized slick-slider">

            <div class="slick-list draggable" style="padding: 0px 50px;">
                <div class="slick-track" style="opacity: 1; width: 3349px; transform: translate3d(-1576px, 0px, 0px); transition: transform 5000ms linear 0s;">
                    <div class="brand-item slick-slide slick-cloned" tabindex="-1" style="width: 197px;" data-slick-index="-5" aria-hidden="true">
                        <img src="~/Content/img/fashion.png" alt="">
                    </div>
                    <div class="brand-item slick-slide slick-cloned" tabindex="-1" style="width: 197px;" data-slick-index="-4" aria-hidden="true">
                        <img src="~/Content/img/ams.png" alt="">
                    </div>
                    <div class="brand-item slick-slide slick-cloned" tabindex="-1" style="width: 197px;" data-slick-index="-3" aria-hidden="true">
                        <img src="~/Content/img/exist.jpg" alt="">
                    </div>
                    <div class="brand-item slick-slide slick-cloned" tabindex="-1" style="width: 197px;" data-slick-index="-2" aria-hidden="true">
                        <img src="~/Content/img/HA.png" alt="">
                    </div>
                    <div class="brand-item slick-slide slick-cloned slick-center" tabindex="-1" style="width: 197px;" data-slick-index="-1" aria-hidden="true">
                        <img src="~/Content/img/materna.jfif" alt="">
                    </div>
                    <div class="brand-item slick-slide" tabindex="-1" style="width: 197px;" data-slick-index="0" aria-hidden="true">
                        <img src="~/Content/img/fashion.png" alt="">
                    </div>
                    <div class="brand-item slick-slide" tabindex="-1" style="width: 197px;" data-slick-index="1" aria-hidden="true">
                        <img src="~/Content/img/exist.jpg" alt="">
                    </div>
                    <div class="brand-item slick-slide" tabindex="-1" style="width: 197px;" data-slick-index="2" aria-hidden="true">
                        <img src="~/Content/img/HA.png" alt="">
                    </div>
                    <div class="brand-item slick-slide" tabindex="-1" style="width: 197px;" data-slick-index="3" aria-hidden="true">
                        <img src="~/Content/img/HA.png" alt="">
                    </div>
                    <div class="brand-item slick-slide" tabindex="-1" style="width: 197px;" data-slick-index="1" aria-hidden="true">
                        <img src="~/Content/img/exist.jpg" alt="">
                    </div>
                    <div class="brand-item slick-slide" tabindex="-1" style="width: 197px;" data-slick-index="0" aria-hidden="true">
                        <img src="~/Content/img/fashion.png" alt="">
                    </div>
                    <div class="brand-item slick-slide slick-cloned slick-center" tabindex="-1" style="width: 197px;" data-slick-index="-1" aria-hidden="true">
                        <img src="~/Content/img/materna.jfif" alt="">
                    </div>
                    <div class="brand-item slick-slide slick-cloned slick-center" tabindex="-1" style="width: 197px;" data-slick-index="-1" aria-hidden="true">
                        <img src="~/Content/img/ams.png" alt="">
                    </div>
                    <div class="brand-item slick-slide slick-cloned slick-center" tabindex="-1" style="width: 197px;" data-slick-index="-1" aria-hidden="true">
                        <img src="~/Content/img/cerealis.png" alt="">
                    </div>
                    <div class="brand-item slick-slide slick-cloned slick-center" tabindex="-1" style="width: 197px;" data-slick-index="-1" aria-hidden="true">
                        <img src="~/Content/img/warda.png" alt="">
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


